* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}

.corona_rot img {
    animation: gocorona 3s linear infinite;
}

@keyframes gocorona {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bot-pra {
    margin: 0;
    padding: 0;
}

.corona_update {
    margin: 0 0 30px 0;
}

.corona_update h3 {
    color: #ff7675
}

.sub_section {
    background-color: #fdfafd;
}

.table {
    margin: 0;
    padding: 0;
    display: absolute;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: Black;
    color: white;
    text-align: center;
}